.color.red:before {
      background-color: red;
}

.avatan-page {
    position: absolute;
    top:10%;
    width: 87%;
    object-fit: contain;
    border: 10px solid black;
    border-color: midnightblue;
}

.avatar-wrapper {
    min-height: 250px;
    max-width: 400px;
    align-content: center;
}